<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
</head>

<body>
    <h1>This is the Forum</h1>

    <ul>
        <%for(let p of publishes) {%>
            <li>
                <b>
                    <%= p.username %> -
                </b>
                <%= p.comment %>

                    <a href="/details/<%= p.id %>">Details</a>
            </li>
            <% } %>
    </ul>

    <a href="/new">New Post</a>

    <a href="/">Back to Home</a>
</body>

</html>