<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
</head>

<body>
    <h1>New Post</h1>

    <form action="/forum" method="post">

        <section>
            <label for="username">Enter username</label>
            <input type="text" id="username" name="username" placeholder="username">
        </section>
        <section>
            <label for="comment">Enter new Comment</label>
            <br>
            <textarea name="comment" id="comment" cols="30" rows="5"></textarea>
        </section>

        <button>Submit</button>
        <a href="/forum">Cancel comment</a>
    </form>
</body>

</html>