<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>HOME PAGEEE <%= 4 + 5%>
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta deserunt qui cum excepturi tenetur iure id earum
        iste rem voluptatibus consectetur voluptas corrupti, in praesentium cupiditate incidunt amet ad? Harum!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nihil veniam in maiores, ducimus provident
        molestiae! Earum nobis facilis error fuga rem suscipit, tempore veritatis corrupti vero repudiandae ad aliquam!
        Non magnam nisi minus rem voluptatum. Sapiente inventore ducimus minima officia enim, officiis, cupiditate quae
        similique atque facilis animi! Adipisci obcaecati, maiores provident quisquam tempore voluptate dolores eveniet
        expedita veniam.
        Repellat possimus odit molestiae necessitatibus consequatur rerum laborum aut sunt esse optio blanditiis illum
        nisi quam, unde vel aperiam? Labore fugiat maiores laborum iure nobis, ratione sequi cumque excepturi. Est.</p>
</body>

</html>