/* https://developer.mozilla.org/pt-BR/docs/Web/CSS/text-decoration 
    https://coolors.co/
*/


body {
    background-color: #e9c46a;
}

div {
    text-align: center;
}

form {
    box-sizing: border-box;
    box-shadow: #ef210e;
    width: 500px;
    /* border-width: 10px;
    border-style: solid;
    border-color: #efa40e; */
    border: 10px solid #efa40e;
    border-radius: 15%;
    background-color: #e7b85a;
    padding-bottom: 10px;
    margin: auto;
}

form div label {
    margin: auto;
}

.link {
    word-spacing: 0px;
    text-decoration: underline;
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    font-family: monospace, fantasy, Geneva, Tahoma, sans-serif;
    color: #3b86a4;

}

.link:hover {
    text-decoration-style: wavy;
}

h1 {
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    text-decoration: #e76f51 underline wavy;
    letter-spacing: 10px;
    font-size: 50px;
    font-family: monospace, fantasy, Geneva, Tahoma, sans-serif;
    color: #2a9d8f;
}

h2 {
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    font-family: monospace, fantasy, Geneva, Tahoma, sans-serif;
    color: #264653;
}

label {
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    font-family: monospace, fantasy, Geneva, Tahoma, sans-serif;
    color: #264653;
}

#selectRace {
    color: #2a9d8f;
    letter-spacing: 5px;
    font-size: 30px;
    font-family: monospace, Tahoma, Geneva, fantasy;
    text-decoration: #e76f51 underline wavy;
}

button {
    border-style: hidden;
    border-radius: 10px 100px / 120px;
    font-size: 40px;
    color: #264653;
    background-color: #e76f51;
    text-align: center;
}

button:hover {
    background-color: #2a9d8f;
    color: #e9c46a;
}

#register {
    font-weight: bold;
    font-family: monospace, fantasy, Geneva, Tahoma, sans-serif;
    align-self: center;
}

#radioSelect {
    text-align: center;
}

.radioSelect p {
    text-align: center;
}

/* input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="radio"]:checked::before {
    transform: scale(1);
} */

input[type="radio"] {
    transform: translateX(-0.075em);
    color: #efa40e;
    text-align: right;
}

input[type="radio"] :checked {
    box-shadow: 0 0 0 3px orange;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    text-align: center;
    background-color: #efa40e;
}


a {
    font-weight: bold;
    text-decoration: none;
}

a :hover {
    text-decoration: underline;
}



p {
    align-items: center;
    text-align: center;
}

hr {
    border-style: solid;
    display: grid;
    border-width: 50px;
    border-top-width: 20px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-radius: 3px;
    border-top-color: #2a9d8f;
    border-bottom-color: #e76f51;
}