img {
    width: 30%;
    margin: calc(10%/6);
}

nav {
    font-family: Roboto, sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #a9a7a7;
    width: 30%;
    margin-left: calc(10%/6);
    padding: 0.5em 0;
}